
//////////////////////////////////////////////
//
// specify the last page of the form
//
$last-page: 16;
//
//////////////////////////////////////////////

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

$tan:       #f1eee2;
$dark-tan:  desaturate(darken($tan, 10%), 10%);
$light-tan: lighten($tan, 5%);
$grey:      #393d41;
$mid-grey:  desaturate(darken($dark-tan, 20%), 15%);
$light-grey:lighten($mid-grey, 30%);
$red:       #eb1020;
$mute-red:  desaturate(lighten($red, 10%), 20%);

$text:  $grey;

$border:    1px solid $light-grey;

$base: 17px;

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=$opacity);
}

@mixin clearfix {
  &:before,
  &:after {
    content:" ";
    display:table;
  }
  &:after { clear:both; }
  & { *zoom:1; }
}

@mixin transition ($transition: all 0.2s) {
    -webkit-transition: $transition;
    -moz-transition:    $transition;
    -ms-transition:     $transition;
    -o-transition:      $transition;
    transition:         $transition;
    -webkit-backface-visibility: hidden;
}

%sm-caps {
    text-transform: uppercase;
    letter-spacing: 1px;
}

%button {
    font-family: "proxima-nova", "Gotham", "Helvetica Neue", "Helvetica", Helmet, Freesans, sans-serif;;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    border-radius: 0.33em;
    background: $mute-red;
    color: #fff;
    font-size: 1.15em;
    line-height: normal;
    display: block;
    margin: 1em auto;
    padding: 0.85em 2em 0.75em;
    vertical-align: middle;
    transition: background-color 0.25s;
    text-decoration: none;
    -webkit-appearance: caret;
    //height: 2.2em;

    &:hover {
        color: #fff;
        background: darken($red, 5%);
    }
}

%lg-button {
    @extend %button;
    min-width: 50%;
    margin: 2.5em auto;
}

/*  j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: $dark-tan;} 

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color: $mid-grey; }
textarea:-moz-placeholder { color: $mid-grey; }

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: $dark-tan; color: #000; text-shadow: none;}
::selection {background: $dark-tan; color: #000; text-shadow: none;}



body {
    background: $tan;
}

/* We like off-black for text. */
body, select, input, textarea {
    color: $text;
    font-family: "proxima-nova", "Gotham", "Helvetica Neue", "Helvetica", Helmet, Freesans, sans-serif;
    font-size: $base;
    line-height: 1.5em;
}

a {
    color: $red;
    @include transition;
    text-decoration: none;
}
a:hover {color: darken($red, 10%);}

.wrapper {
    margin: 0 auto;
    max-width: 750px;
}

h1 {
    font-weight: 100;
    text-align: center;
    margin: 1em 0;
    font-size: 1.15em;
}

header {
    position: relative;
    padding: 0.75em 2em;
    text-align: center;
    background: $dark-tan;

    h2 {
        font-size: 1.15em;
        @extend %sm-caps;
        color: $mid-grey;

        &:before {
            background: $red;
            height: 0.65em;
            width: 0.65em;
            content: ' ';
            display: inline-block;
            margin-right: 0.65em;
        }

        img {
            max-height: 0.65em;
            opacity: 0.8;
        }
    }

    #back {
        position: absolute;
        top: 1em;
        left: 2em;
        color: $mid-grey;
        display: none;

        &:hover {
            color: $text;
        }

        &:before {
            font-family: fontawesome;
            margin-right: 0.5em;
            content: '\f104';
        }
    }
}

.back {
    color: $mid-grey;

    &:hover {
        color: $text;
    }

    &:before {
        font-family: fontawesome;
        margin-right: 0.5em;
        content: '\f104';
    }
}

button {
    @extend %button;
}

nav#steps {

    #body00 & {
        display: none;
    }

    ol {
        list-style: none;
        font-size: 0;
    }

    li {
        display: inline-block;
        font-size: $base;
        width: 33.33333%;
        border-right: $border;

        &:last-child {
            border-right: 0;
        }

        &.active a {
            background: #fff;
            color: $mid-grey;
        }

        a {
            padding: 0.75em 0;
            display: block;
            text-align: center;
            line-height: normal;
            background: $light-tan;
            color: $dark-tan;
            font-size: 0.9em;
        }

        span.step {
            text-transform: uppercase;
            display: block;
            font-size: 0.8em;
        }

        span.extra {
            display: none;
        }
    }
}

section {
    background: #fff;
    padding: 2em 1.5em 0.5em;
    // position: relative;
    display: none;
    // box-shadow: 0 -0.1em 0.5em rgba(#000,0.05);

    &.active {
        display: block;
    }

    h2 {
        color: $mid-grey;
        font-weight: 100;
        font-size: 1.1em;
        margin-bottom: 1em;

        &:first-child {
            margin-top: -1em;
            padding-bottom: 0.5em;
            border-bottom: $border;
        }
    }

    .intro {
        margin-bottom: 2em;
        border-bottom: $border;
        font-weight: 100;
    }

    .example {
        color: $mid-grey;
        font-size: 0.85em;
        line-height: 1.5em;
        max-width: 90%;
        font-style: italic;
    }

    label + .example {
        // max-width: none;
        margin-top: 0.5em;
        margin-left: 3em;
    }

    .button-text {
        // color: $red;
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: bold;
    }

    p {
        margin-bottom: 1.25em;
        font-size: 1.05em;

        strong {
            // color: lighten($text, 10%);
        }
    }

    #body00 & {
        padding-bottom: 3em;
        min-height: 0;

        button {
            @extend %lg-button;
        }
    }

    input[type="submit"] {
        @extend %lg-button;
        margin: 1.5em auto 0;
    }

    input[type="text"], input[type="email"] {
        margin: 0.5em 0;
        padding: 0.33em 0.5em;
        display: block;
        width: 100%;
        line-height: normal;
    }

    .input-group input[type="text"], .input-group input[type="email"] {
        margin: 1em 0;
    }

    .input-group.text {
        border-bottom: 0;
        padding: 0;
        margin: 1em 0;

        span.light {
            color: $mid-grey;
        }

        input[type="text"], input[type="email"] {
            margin: 0.33em 0;
        }
    }

    .input-group.text label {
        line-height: normal;
        display: block;

        // &.optional:after {
        //     font-size: 0.85em;
        //     color: $mid-grey;
        //     content: '\A(optional)';
        // }
    }

    input, textarea {
        background-color: $light-tan;
        border: 1px solid $light-grey;
        border-top-color: darken($light-grey, 10%);
        border-left-color: darken($light-grey, 10%);
        box-shadow: inset 0.1em 0.15em 0.25em rgba($mid-grey,0.15);
    }

    label {
        cursor: default;
    }

    label.error {
        color: $red;
        font-size: 0.9em;
        display: block;
    }

    input.error {
        border-color: $red;
    }

    .input-group.text label.error {
        width: auto;
        display: block;
    }

    .checkbox, .radio {
        float: left;
        vertical-align: middle;
        margin-right: 1em;
        position: relative;
        height: 1.5em;
        width: 1.5em;
        clear: left;

        input {
            opacity: 0;
            height: 1.5em;
            width: 1.5em;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            cursor: pointer;
        }

        input + label {
            background-color: $tan;
            height: 1.5em;
            width: 1.5em;
            display:inline-block;
            padding: 0 0 0 0px;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 0.25em;
            border: 1px solid $light-grey;
            border-top-color: darken($light-grey, 10%);
            border-left-color: darken($light-grey, 10%);
            box-shadow: inset 0.1em 0.15em 0.25em rgba($mid-grey,0.15);
        }

        input:checked + label {
            height: 1.5em;
            width: 1.5em;

            &:before {
                // content: '\2713';
                font-family: "fontawesome";
                content: '\f00c'; // check mark
                font-size: 2em;
                margin-left: -0.15em;
                color: saturate($mute-red, 15%);
            }
        }
    }

    .radio input {
        & + label {
            border-radius: 1em;
        }

        &:checked + label:before {
            content: '\f111'; // circle
            font-size: 0.95em;
            margin: 0.31em;
        }
    }

    .checkbox + label, .radio + label {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 2.5em);
    }

    .input-group .explain {
        display: none;
        margin-top: 1em;

        p {
            font-size: 1em;
            margin-bottom: 0.75em;
        }
    }

    .input-group {
        margin-bottom: 0.75em;
        border-bottom: $border;
        padding-bottom: 0.75em;
        line-height: 1.45em;

        &:last-of-type {
            border: 0;
            padding-bottom: 0;
        }
    }

    // select {
    //     min-width: 50%;
    // }

    p + textarea {
        margin-top: 0;
    }

    textarea {
        width: 100%;
        margin: 1em 0;
        padding: 0.5em 0.75em;
        min-height: 5em;
    }
}

footer {
    position: relative;
    text-align: center;
    background: #fff;

    // hide on first page load
    #body00 & {
        display: none;
    }

    #previous, #next {
        display: inline-block;
        vertical-align: middle;
    }

    #previous {
        width: 5em;
        margin-left: -5em;
        margin-bottom: 1em;

        color: $mid-grey;

        &:hover {
            color: $text;
        }

        &:before {
            font-family: fontawesome;
            margin-right: 0.5em;
            content: '\f104';
        }
    }

    button {
        margin-bottom: 2em;
    }
}

nav#pages {
    padding: 1.25em 3em;
    background: $dark-tan;

    ol {
        list-style: none;
        font-size: 0.85em;
        text-align: center;
        height: 2.33em;

        &:before {
            @extend %sm-caps;
        } 

        li { 
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            height: 2.5em;

            a {
                padding: 0.5em 0;
                text-align: center;
                color: $mid-grey;
                border-radius: 2em;
                display: block;
                height: 2em;
                width: 2em;

                &:hover {
                    color: $mid-grey;
                }
            }

            &.active a {
                background: #fff;
                color: $text;
                font-size: 1.15em;
            }
        }
    }
}

.form-language {
    color: $mid-grey;
    font-size: 0.85em;
    line-height: 1.5em;
    margin-bottom: 2em;
}


section {

    #phone_primary, #phone_alt, #ssn {
        input {
            display: inline;
        }
    }
}

#phone_primary, #phone_alt {

    span.light:first-of-type {
        margin-left: -0.5em;
    }
}

#employment-type, #withdraw {
    display: none;
}

#attendance-from, #attendance-to {
    label {
        display: inline-block;
        min-width: 2.5em;
    }
}


// hide next button on last page
#body#{$last-page} {
    #next {
        opacity: 0;
        visibility: hidden;
    }

    #previous {
        margin-left: 7.5em;
    }
}

// download section
#bodyload {
    nav {
        display: none;
    }

    button {
        font-size: 0.9em;
        margin: 3em auto;
    }

    // section {
    //     background: none;
    // }
}


/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (min-width: 480px) {

    .wrapper {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    h1 {
        font-size: 1.75em;
        line-height: normal;
        margin: 1em 0 1.25em;
    }

    header {
        padding: 1.15em 2em;

         h2 {
            &:before {
                height: 0.75em;
                width: 0.75em;
            }

            img {
                max-height: 0.75em;
            }
        }
    }

    nav#steps {
        li a {
            font-size: 1em;

            span.step {
                font-size: 0.87em;
            }

            span.extra {
                display: inline;
            }
        }
    }

    section {
        padding-left: 3em;
        padding-right: 2.75em;
        min-height: 440px;

        label.error {
            margin-top: 0.5em;
        }
    
        .input-group.text {
            label {
                width: 25%;
                margin: 0.25em 0;
                display: inline-block;
                vertical-align: middle;
            }

            label.error {
                margin-left: 25%;
                padding-left: 0.2em;
            }

            input[type="text"], input[type="email"] {
                margin: 0;
            }
        }

        input[type="text"], input[type="email"] {
            width: 73.5%;
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }
    }

    #body00 section {
        padding-top: 3em;
        padding-bottom: 2em;
    }

    nav#pages {

        ol:before {
            content: 'page';
            position: absolute;
            left: 3em;
            color: $mid-grey;
            font-size: 1em;
            bottom: 1.75em;
        }
    }

    .form-language {
        max-height: 200px;
        overflow: scroll;
        padding: 0.5em 0.75em;
        background: $light-tan;
        border: $border;
    }


    #attendance-from, #attendance-to {
        display: inline-block;

        label {
            min-width: 0;
        }
    }

    #attendance-to label {
        margin-left: 2em;
    }
        
}

@media screen and (min-width: 800px) {

    header {
        #back {
            display: block;
        }
    }
}



/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}