ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold; }

header h2, nav#pages ol:before {
  text-transform: uppercase;
  letter-spacing: 1px; }

#body00 section button, section input[type="submit"], button {
  font-family: "proxima-nova";
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.33em;
  background: #dd515b;
  color: #fff;
  font-size: 1.15em;
  line-height: normal;
  display: block;
  margin: 1em auto;
  padding: 0.85em 2em 0.75em;
  vertical-align: middle;
  transition: background-color 0.25s;
  text-decoration: none;
  -webkit-appearance: caret; }
  #body00 section button:hover, section input[type="submit"]:hover, button:hover {
    color: #fff;
    background: #d30e1d; }

#body00 section button, section input[type="submit"] {
  min-width: 50%;
  margin: 2.5em auto; }

/*  j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #dcd7c4; }

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {
  color: #a7a393; }

textarea:-moz-placeholder {
  color: #a7a393; }

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: #dcd7c4;
  color: #000;
  text-shadow: none; }

::selection {
  background: #dcd7c4;
  color: #000;
  text-shadow: none; }

body {
  background: #f1eee2; }

/* We like off-black for text. */
body, select, input, textarea {
  color: #393d41;
  font-family: "proxima-nova", "Gotham", "Helvetica Neue", "Helvetica", Helmet, Freesans, sans-serif;
  font-size: 17px;
  line-height: 1.5em; }

a {
  color: #eb1020;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
  text-decoration: none; }

a:hover {
  color: #bb0d19; }

.wrapper {
  margin: 0 auto;
  max-width: 750px; }

h1 {
  font-weight: 100;
  text-align: center;
  margin: 1em 0;
  font-size: 1.15em; }

header {
  position: relative;
  padding: 0.75em 2em;
  text-align: center;
  background: #dcd7c4; }
  header h2 {
    font-size: 1.15em;
    color: #a7a393; }
    header h2:before {
      background: #eb1020;
      height: 0.65em;
      width: 0.65em;
      content: ' ';
      display: inline-block;
      margin-right: 0.65em; }
    header h2 img {
      max-height: 0.65em;
      opacity: 0.8; }
  header #back {
    position: absolute;
    top: 1em;
    left: 2em;
    color: #a7a393;
    display: none; }
    header #back:hover {
      color: #393d41; }
    header #back:before {
      font-family: fontawesome;
      margin-right: 0.5em;
      content: '\f104'; }

#body00 nav#steps {
  display: none; }
nav#steps ol {
  list-style: none;
  font-size: 0; }
nav#steps li {
  display: inline-block;
  font-size: 17px;
  width: 33.33333%;
  border-right: 1px solid #ecebe7; }
  nav#steps li:last-child {
    border-right: 0; }
  nav#steps li.active a {
    background: #fff;
    color: #a7a393; }
  nav#steps li a {
    padding: 0.75em 0;
    display: block;
    text-align: center;
    line-height: normal;
    background: #f9f8f3;
    color: #dcd7c4;
    font-size: 0.9em; }
  nav#steps li span.step {
    text-transform: uppercase;
    display: block;
    font-size: 0.8em; }
  nav#steps li span.extra {
    display: none; }

section {
  background: #fff;
  padding: 2em 1.5em 0.5em;
  position: relative;
  display: none; }
  section.active {
    display: block; }
  section h2 {
    color: #a7a393;
    font-weight: 100;
    font-size: 1.1em;
    margin-bottom: 1em; }
    section h2:first-child {
      margin-top: -1em;
      padding-bottom: 0.5em;
      border-bottom: 1px solid #ecebe7; }
  section .intro {
    margin-bottom: 2em;
    border-bottom: 1px solid #ecebe7;
    font-weight: 100; }
  section .example {
    color: #a7a393;
    font-size: 0.85em;
    line-height: 1.5em;
    max-width: 90%;
    font-style: italic; }
  section label + .example {
    margin-top: 0.5em;
    margin-left: 3em; }
  section .button-text {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold; }
  section p {
    margin-bottom: 1.25em;
    font-size: 1.05em; }
  #body00 section {
    padding-bottom: 3em;
    min-height: 0; }
  section input[type="text"], section input[type="email"] {
    margin: 0.5em 0;
    padding: 0.33em 0.5em;
    display: block;
    width: 100%;
    line-height: normal; }
  section .input-group input[type="text"], section .input-group input[type="email"] {
    margin: 1em 0; }
  section .input-group.text {
    border-bottom: 0;
    padding: 0;
    margin: 1em 0; }
    section .input-group.text span.light {
      color: #a7a393; }
    section .input-group.text input[type="text"], section .input-group.text input[type="email"] {
      margin: 0.33em 0; }
  section .input-group.text label {
    line-height: normal;
    display: block; }
  section input, section textarea {
    background-color: #f9f8f3;
    border: 1px solid #ecebe7;
    border-top-color: #d5d3cb;
    border-left-color: #d5d3cb;
    box-shadow: inset 0.1em 0.15em 0.25em rgba(167, 163, 147, 0.15); }
  section label {
    cursor: default; }
  section label.error {
    color: #eb1020;
    font-size: 0.9em;
    display: block; }
  section input.error {
    border-color: #eb1020; }
  section .input-group.text label.error {
    width: auto;
    display: block; }
  section .checkbox, section .radio {
    float: left;
    vertical-align: middle;
    margin-right: 1em;
    position: relative;
    height: 1.5em;
    width: 1.5em;
    clear: left; }
    section .checkbox input, section .radio input {
      opacity: 0;
      height: 1.5em;
      width: 1.5em;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      cursor: pointer; }
    section .checkbox input + label, section .radio input + label {
      background-color: #f1eee2;
      height: 1.5em;
      width: 1.5em;
      display: inline-block;
      padding: 0 0 0 0px;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 0.25em;
      border: 1px solid #ecebe7;
      border-top-color: #d5d3cb;
      border-left-color: #d5d3cb;
      box-shadow: inset 0.1em 0.15em 0.25em rgba(167, 163, 147, 0.15); }
    section .checkbox input:checked + label, section .radio input:checked + label {
      height: 1.5em;
      width: 1.5em; }
      section .checkbox input:checked + label:before, section .radio input:checked + label:before {
        font-family: "fontawesome";
        content: '\f00c';
        font-size: 2em;
        margin-left: -0.15em;
        color: #ed414e; }
  section .radio input + label {
    border-radius: 1em; }
  section .radio input:checked + label:before {
    content: '\f111';
    font-size: 0.95em;
    margin: 0.31em; }
  section .checkbox + label, section .radio + label {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 2.5em); }
  section .input-group .explain {
    display: none;
    margin-top: 1em; }
    section .input-group .explain p {
      font-size: 1em;
      margin-bottom: 0.75em; }
  section .input-group {
    margin-bottom: 0.75em;
    border-bottom: 1px solid #ecebe7;
    padding-bottom: 0.75em;
    line-height: 1.45em; }
    section .input-group:last-of-type {
      border: 0;
      padding-bottom: 0; }
  section select {
    min-width: 50%; }
  section p + textarea {
    margin-top: 0; }
  section textarea {
    width: 100%;
    margin: 1em 0;
    padding: 0.5em 0.75em;
    min-height: 5em; }

footer {
  position: relative;
  text-align: center;
  background: #fff; }
  #body00 footer {
    display: none; }
  footer #previous, footer #next {
    display: inline-block;
    vertical-align: middle; }
  footer #previous {
    width: 5em;
    margin-left: -5em;
    margin-bottom: 1em;
    color: #a7a393; }
    footer #previous:hover {
      color: #393d41; }
    footer #previous:before {
      font-family: fontawesome;
      margin-right: 0.5em;
      content: '\f104'; }
  footer button {
    margin-bottom: 2em; }

nav#pages {
  padding: 1.25em 3em;
  background: #dcd7c4; }
  nav#pages ol {
    list-style: none;
    font-size: 0.85em;
    text-align: center;
    height: 2.33em; }
    nav#pages ol li {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      height: 2.5em; }
      nav#pages ol li a {
        padding: 0.5em 0;
        text-align: center;
        color: #a7a393;
        border-radius: 2em;
        display: block;
        height: 2em;
        width: 2em; }
        nav#pages ol li a:hover {
          color: #a7a393; }
      nav#pages ol li.active a {
        background: #fff;
        color: #393d41;
        font-size: 1.15em; }

section #phone_primary input, section #phone_secondary input, section #ssn input {
  display: inline; }

#phone_primary span.light:first-of-type, #phone_secondary span.light:first-of-type {
  margin-left: -0.5em; }

#employment-type, #withdraw {
  display: none; }

#body15 #next {
  opacity: 0;
  visibility: hidden; }
#body15 #previous {
  margin-left: 7.5em; }

/* Media queries
-------------------------------------------------------------------------------*/
@media screen and (min-width: 480px) {
  .wrapper {
    margin-top: 2em;
    margin-bottom: 2em; }

  h1 {
    font-size: 1.75em;
    line-height: normal;
    margin: 1em 0 1.25em; }

  header {
    padding: 1.15em 2em; }
    header h2:before {
      height: 0.75em;
      width: 0.75em; }
    header h2 img {
      max-height: 0.75em; }

  nav#steps li a {
    font-size: 1em; }
    nav#steps li a span.step {
      font-size: 0.87em; }
    nav#steps li a span.extra {
      display: inline; }

  section {
    padding-left: 3em;
    padding-right: 2.75em;
    min-height: 440px; }
    section label.error {
      margin-top: 0.5em; }
    section .input-group.text label {
      width: 25%;
      margin: 0.25em 0;
      display: inline-block;
      vertical-align: middle; }
    section .input-group.text label.error {
      margin-left: 25%;
      padding-left: 0.2em; }
    section .input-group.text input[type="text"], section .input-group.text input[type="email"] {
      margin: 0; }
    section input[type="text"], section input[type="email"] {
      width: 73.5%;
      display: inline-block;
      vertical-align: middle;
      margin: 0; }

  #body00 section {
    padding-top: 3em;
    padding-bottom: 2em; }

  nav#pages ol:before {
    content: 'page';
    position: absolute;
    left: 3em;
    color: #a7a393;
    font-size: 1em;
    bottom: 1.75em; } }
@media screen and (min-width: 800px) {
  header #back {
    display: block; } }
/* Print styles
-------------------------------------------------------------------------------*/
